html {
  position: relative;
  min-height: 100%;
}

body{
  background-color: #f8dae8;
  margin: 0 0 100px; /* Fondo = altura de footer */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #d19bc2;
  text-align: center;
}

li {
  display: inline;
}

.w3-container{
  width: 90%;
  height: 20%;
}

.w2-container{
  width: 90%;
  border-radius: 10px;
}


.carousel-inner > .carousel-item > img {
  width: 100%;
  height: 100%;
  margin:auto;
}

.nav-item>a:hover {
  background-color: #c97bb3;
  border-radius: 10px;
}

nav{
  background-color: #d19bc2;
}

.clear {
  clear: both;
}

h1, h2{
  font-family: Freestyle Script;
  color: #891631;
  font-size: 80px;
}

.sombra {
  height: 100%;
  max-width: 100%;
  filter:brightness(0.5);
}

.p{
  font-size: 20px;
  text-align: justify;
}

.p2{
  font-size: 20px;
  text-align: center;
}

.logos_redes{
  width: 50px;
  height: 50px;
}

.centrar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.texto_contacto{
  text-align: center;
}

/* Estilos para los formularios */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="email"]: {
  border: 3px solid #555;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  hover-color: lime;
}
.btn-primary{
  background-color: #891631;
  border-color: #891631
}

.btn-primary:hover{
  background-color: #891631;
  border-color: #891631
}

.btn-primary:focus{
  background-color: #891631;
  border-color: #891631
}

div>ul>a{
  font-size: 2vh;
  font-size: 2vw;
}

/* Id's utilizadas para distintas tareas */

#myBtn {
  display: none; /* Escondido por defecto */
  position: fixed; /* Posicion fixed/sticky */
  bottom: 20px; /* Coloca el boton en el fondo de la pagina */
  right: 30px; /* Coloca el boton a 30px de la derecha */
  z-index: 99; /* Asegura que no se sobreponga */
  border: none; /* Remueve los bordes */
  outline: none; /* Remueve el contorno */
  background-color: #d19bc2; /* Establece un color de fondo */
  color: white; /* Color de texto */
  cursor: pointer; /* Agrega un apuntador de mouse en la propiedad hover */
  padding: 15px; /* Agrega padding */
  border-radius: 100px; /* Establece las esquinas redondeadas */
  font-size: 18px; /* Aumenta el tamaño de la fuente */
}

#myBtn:hover {
  background-color: #d19bc9; /* Color que se muestra en la propiedad Hover */
}

#contrainer_bg{
  background-color: #d19bc2
}
